.postContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    color: white;
    padding: 10px;
    border-bottom: 1px solid #51565B;
}

.user{
    display: flex;
    flex-direction: row;
    margin:0;
    padding:0;
    gap: 10px;
}

